{% extends 'index.html' %}

{% block title %}Employee{% endblock %}

{% block content %}

<section class="home">
    <p>Employee Registration Form</p>

    <div class="form-container">
      <form action="{% url 'add_employee' %}" method="POST">
            {% csrf_token %}
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        
            <label for="employeeId">Employee ID:</label>
            <input type="text" id="employeeId" name="employeeId" required>
        
            <label for="department">Department:</label>
            <select id="department" name="department_name" required>
                
                    {% for departments in departments %}
                    <option value="{{ departments.id }}">{{ departments.name }}</option>
                    {% empty %}
                        <option value="">No departments available</option>
                    {% endfor %}
            </select>
            
        
            <button type="submit">Submit</button> <!-- Ensure this is included -->
        </form> 
        <button class="add-employee-btn" onclick="window.location.href='{% url 'employeelist' %}'">back</button>

    </div>
</section>

{% endblock %}