{% extends 'index.html' %} 

 

{% block title %}Employee{% endblock %} 

 

{% block content %} 

 

<section class="home"> 

    <p>Employee Registration Form</p> 

 

    <div class="form-container"> 

        <form action="{% url 'signup' %}" method="POST"> 

            {% csrf_token %} 
            <label for="firstName">First Name:</label> 
            <input type="text" id="firstName" name="firstName" required> 
            <label for="lastName">Last Name:</label> 
            <input type="text" id="lastName" name="lastName" required> 
            <label for="employeeId">Employee ID:</label> 
            <input type="text" id="employeeId" name="employeeId" required> 
            <label for="username">Username:</label> 
            <input type="text" id="username" name="username" required> 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required> 
            <label for="department">Department:</label> 

            <select id="department" name="department_name" required> 

                {% for departments in departments %} 

                    <option value="{{ departments.id }}">{{ departments.name }}</option> 

                {% empty %} 

                    <option value="">No departments available</option> 

                {% endfor %} 

            </select> 
            
            <button type="submit">Add Employee</button>  

        </form> 

        <button class="add-employee-btn" onclick="window.location.href='{% url 'employeelist' %}'">back</button> 


    </div> 

</section> 

 

{% endblock %} 