{% extends 'index.html' %}

{% block title %}Attendance{% endblock %}

{% block content %}
<section class="home">
    <p>Attendance Record </p>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Time in</th>
            <th scope="col">Time Out</th>
            <th scope="col">status</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">9084367</th>
            <td>Mark</td>
            <td>7:34 am</td>
            <td>7:00 pm</td>
            <td>Late</td>
          </tr>
         
        </tbody>
      </table>
    </section>
{% endblock %}