<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/outside.css' %}">
</head>

<body>
    
    <div class="form-container">
        
        <form action="{% url 'checkin_page' %}" id="checkin-form" method="POST">
            {% csrf_token %}
            <label for="employee_input">Enter Employee ID or Name (First Last):</label>
            <input type="text" id="employee-name" placeholder="Enter Employee ID" name="employee_input" required>
            <button type="submit" id="checkin-btn">Log in</button>
        </form>
        
       
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        function updateButtonText() {
            // Get the current date and time in the Philippines (UTC+8)
            const now = new Date();
            const utcTime = now.getTime() + (now.getTimezoneOffset() * 60000);
            const phTime = new Date(utcTime + (8 * 60 * 60 * 1000));
    
            // Check if the time is past 12:00 PM
            const hours = phTime.getHours();
            const minutes = phTime.getMinutes();
    
            const loginButton = document.getElementById('checkin-btn');
    
            if (hours > 12 || (hours === 12 && minutes > 0)) {
                loginButton.textContent = 'Log Out';
            }
        }
    
        // Run the function when the page loads
        window.onload = updateButtonText;
    </script>
    
</body>
</html>
