{% extends 'index.html' %}

{% block title %}Employee{% endblock %}

{% block content %}

<section class="home">
    <p>Employee list</p>-
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Department</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for employee in employee %}
                <th scope="row">{{ employee.employee_id }} </th>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>{{ employee.department_name }}</td>
                <td> 
                  <a>view</a> 
                  <a>edit</a>
                  <a>delete</a>
                </td>
                
    
              </tr>
              {% endfor %}
            </tbody>
          </table>
          

         

</section>

{% endblock %}