{% extends 'index.html' %}

{% block title %}View Department{% endblock %}

{% block content %}

<section class="home">
    <p>{{ department.name }}</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Time In</th>
                <th scope="col">Arrival Status</th>
                <th scope="col">Time out</th>
                <th scope="col">Leaving Status</th>
            </tr>
        </thead>
        <tbody>
          {% for record in attendance_records %}
          <tr>
              <th scope="row">{{ record.employee.employee_id }}</th>
              <td>{{ record.employee.first_name }} {{ record.employee.last_name }}</td>
              <td>{{ record.time_in|time:"g:i a" }}</td>
              <td>{{ record.arrival_status }}</td>
              <td>{{ record.time_out|time:"g:i a" }}</td>  <!-- Adjust based on your field names -->
            <td>{{ record.timeout_status }}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="6">No attendance available</td>
          </tr>
          {% endfor %}
      </tbody>
      
    </table>
</section>

{% endblock %}
