body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('../images/bg.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  #form-container {
    width: 100%;
  }
  #checkin-form {
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    background-color: #f4f2f2;
    margin: auto;
    margin-bottom: 250px;
  }
  #checkin-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #080808;
    border-radius: 5px;
    font-size: 16px;
    background-origin: padding-box;
  }
  #checkin-form button {
    padding: 10px;
    background-color: #1a99f4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  #checkin-form button:hover {
    background-color: #1a99f4;
    background: #000000ea;
  }
  #login-form {
    position: relative; /* To keep the back button positioned relative to the form */
    display: none; /* Initially hidden, shown via JS */
    flex-direction: column;
    align-items: center; /* Center the inputs */
    box-shadow: 0px 0px 10px black;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    background-color: #ffffffea;
  }
  
  #login-form input {
    width: 100%; /* Ensure inputs take up the full width of the form */
    max-width: 300px; /* Optional: set a maximum width */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #080808;
    border-radius: 5px;
    font-size: 16px;
    background-origin: padding-box;
  }
  
  #login-form button {
    width: 100%; /* Ensure buttons take up the full width of the form */
    max-width: 320px; /* Optional: set a maximum width */
    padding: 10px;
    background-color: #1a99f4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Add space below the button */
  }
  
  #login-form button:hover {
    background-color: #050505ea;
  }

.checkout-btn{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1a99f4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  top: 250px;
}