@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: rgb(32, 59, 232);
  --transition: all 0.2s ease;

}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #e2e2e2;
}

.dark-mode {
  --color-white: #000;
  --color-black: #fff;
  --color-bg: #1d1b31;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: var(--color-white);
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-header .logo {
  color: var(--color-black);
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: var(--color-black);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}


.nav-links li.active a {
  background: var(--color-hover); /* Sets the active background color */
}

.nav-links li.active i {
  color: var(--color-white); /* Sets the active icon color */
}

.nav-links li.active a .title {
  color: var(--color-white); /* Sets the active text color */
}


.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 20px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.nav-links i {
  color: var(--color-black);
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

.nav-links input {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
  outline: none;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: var(--color-bg);
  padding: 0;
}

.sidebar.expand .nav-links input {
  width: 100%;
  padding: 0 20px 0 40px;
}

.nav-links li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: var(--color-white);
}

.nav-links li:hover a {
  background: var(--color-hover);
}

.nav-links li:hover i {
  color: var(--color-white);
}

.nav-links li a .title {
  color: var(--color-black);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: var(--color-white);
}

.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  color: var(--color-black);
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}

.nav-links .search-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-25px);
  font-size: 23px;
  color: var(--color-black);
  border-radius: 12px;
  background: var(--color-white);
  transition: var(--transition);
}

.sidebar.expand .nav-links .search-btn {
  background: transparent;
  transition: var(--transition);
}

.sidebar.expand .nav-links li:hover .search-btn {
  color: var(--color-black);
}

.nav-links .search-btn:hover {
  background: var(--color-hover);
}

.theme-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 250px;
  left: 0;
  padding: 8px 16px;
}

.theme-wrapper .theme-icon {
  font-size: 20px;
  color: var(--color-black);
  display: none;
  transition: var(--transition);
}
.sidebar.expand .theme-wrapper .theme-icon {
  display: block;
}

.theme-wrapper p {
  font-size: 16px;
  color: var(--color-black);
  font-weight: 400;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .theme-wrapper p {
  display: block;
}

.theme-wrapper .theme-btn {
  width: 40px;
  height: 20px;
  background: var(--color-bg);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.theme-wrapper .theme-btn .theme-ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--color-black);
  border-radius: 50%;
  top: 2px;
  left: 3px;
  transition: var(--transition);
}

.theme-wrapper .theme-btn .theme-ball.dark {
  left: 20px;
}

.home {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  min-height: 100vh;
  background: var(--color-bg);
  z-index: 6;
  transition: var(--transition);
}

.sidebar.expand ~ .home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}

.home p {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  background-color: rgb(216, 216, 216);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  
  max-height: 600px !important;
  margin: 0 auto;
  margin-top: 25px !important;
  text-align: left;
}
.signin-form-container {
  background-color: rgb(216, 216, 216);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 50%;
  margin: 0 auto;
  margin-top: 25px !important;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.search{
  width: 200px;
  
}
.search-parent{
  position: relative;
  left:750px;
  top: 50px;


}


button {
  margin-top: 15px;
  padding: 10px;
  background-color: rgb(32, 59, 232);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}








.table {
  width: 900px;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  margin-left: 100px;
  margin-top: 50px;
  
  
}


.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border: px solid #000000;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #000000;
  text-align: left;
  color: #ddd;
  text-align: center;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table th {
  font-weight: bold;
  background-color: #f8f9fa;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: rgb(32, 59, 232);
}

.table td {
  text-align: center;
}

.table th[scope="row"] {
  background-color: #f8f9fa;
  text-align: center;
}
.add-emoployee-btn
{
  margin: auto;
  margin-top: 55px;
  padding: 10px;
  background-color: rgb(32, 59, 232);
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}



.search{
  width: 200px;
  
}
.search-parent{
  position: relative;
  left:750px;
  top: 10px;


}


.parent-calendar{
  position: relative;
  left:750px;
  top: 10px;
}
.parent-calendar-employee{
  position: relative;
  left:850px;
  top: 50px;
}





  